[submodule "tests/SkiaSharp.Extended.Gif.Tests/external/cgif"]
	path = tests/SkiaSharp.Extended.Gif.Tests/external/cgif
	url = https://github.com/dloebl/cgif.git
[submodule "tests/SkiaSharp.Extended.Gif.Tests/external/libnsgif"]
	path = tests/SkiaSharp.Extended.Gif.Tests/external/libnsgif
	url = https://github.com/netsurf-browser/libnsgif.git
[submodule "tests/SkiaSharp.Extended.Gif.Tests/external/giflib"]
	path = tests/SkiaSharp.Extended.Gif.Tests/external/giflib
	url = https://github.com/mirrorer/giflib.git
