trigger:
  - main

pr:
  - main

variables:
  BASE_VERSION: 2.0.0
  PREVIEW_LABEL: 'preview'
  BUILD_NUMBER: $[counter(format('{0}_{1}_{2}', variables['BASE_VERSION'], variables['Build.SourceBranch'], variables['PREVIEW_LABEL']), 1)]
  GIT_SHA: $(Build.SourceVersion)
  GIT_BRANCH_NAME: $(Build.SourceBranchName)

resources:
  repositories:
    - repository: internal-templates
      type: github
      name: xamarin/yaml-templates
      endpoint: xamarin
      ref: refs/heads/main

stages:

  - stage: prepare
    displayName: Prepare Build
    jobs:
      - job: prepare
        displayName: Prepare Build
        pool:
          vmImage: ubuntu-latest
        steps:
          - checkout: none
          - pwsh: |
              $pr = "pr." + $env:SYSTEM_PULLREQUEST_PULLREQUESTNUMBER
              Write-Host "Preview label: $pr"
              Write-Host "##vso[task.setvariable variable=PREVIEW_LABEL]$pr"
            displayName: Use a special preview label for PRs
            condition: eq(variables['Build.Reason'], 'PullRequest')
          - pwsh: |
              $label = ""
              if ($env:BUILD_REASON -ne "PullRequest") {
                $label = "+" + $env:BUILD_SOURCEBRANCHNAME
              }
              $label = "$env:BASE_VERSION-$env:PREVIEW_LABEL.$env:BUILD_NUMBER$label"
              Write-Host "Build label: $label"
              Write-Host "##vso[build.updatebuildnumber]$label"
            displayName: Update the build number with a more readable one

  # Only build the samples and run tests on the public pipeline
  - ${{ if ne(variables['System.TeamProject'], 'devdiv') }}:
    - stage: build
      displayName: Build
      dependsOn: prepare
      jobs:
        - job: build
          displayName: Build
          pool:
            vmImage: windows-latest
          steps:
            - task: UseDotNet@2
              inputs:
                packageType: 'sdk'
                version: 3.1.x
              displayName: Install .NET Core 3.1
            - task: UseDotNet@2
              inputs:
                packageType: 'sdk'
                version: 6.0.x
              displayName: Install .NET 6.0
            - pwsh: dotnet workload install maui
              displayName: Install .NET MAUI
            - pwsh: dotnet tool update -g cake.tool
              displayName: Install the Cake .NET tool
            - pwsh: dotnet cake
              displayName: Build everything
            - task: PublishTestResults@2
              inputs:
                testResultsFormat: VSTest
                testResultsFiles: ./output/test-results/**/*.trx
            - publish: output
              artifact: windows
              displayName: Upload Logs

  # Only build the NuGets on the release pipeline
  - ${{ if eq(variables['System.TeamProject'], 'devdiv') }}:
    - stage: pack
      displayName: Pack NuGets
      dependsOn: prepare
      jobs:
        - job: pack
          displayName: Pack NuGets
          pool:
            vmImage: windows-latest
          steps:
            - task: UseDotNet@2
              inputs:
                packageType: 'sdk'
                version: 3.1.x
              displayName: Install .NET Core 3.1
            - task: UseDotNet@2
              inputs:
                packageType: 'sdk'
                version: 6.0.x
              displayName: Install .NET 6.0
            - pwsh: dotnet workload install maui
              displayName: Install .NET MAUI
            - pwsh: dotnet tool update -g cake.tool
              displayName: Install the Cake .NET tool
            - pwsh: dotnet cake --target=pack
              displayName: Pack NuGets
            - publish: output
              artifact: nuget
              displayName: Upload NuGets
    - stage: signing
      displayName: Sign NuGets
      dependsOn: pack
      jobs:
        - template: sign-artifacts/jobs/v2.yml@internal-templates
          parameters:
            usePipelineArtifactTasks: true
            ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/main') }}:
              signType: 'Real'
            ${{ if not(eq(variables['Build.SourceBranch'], 'refs/heads/main')) }}:
              signType: 'Test'
