@using Microsoft.AspNetCore.Components.Routing
@using SkiaSharpBlazorDemo.Shared

<Router AppAssembly="typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
        <p>Sorry, that page was not found.</p>
    </NotFound>
</Router>
