@namespace SkiaSharp.Extended.UI.Blazor.Controls
@inherits ComponentBase
@implements IAsyncDisposable

<div @ref="_containerRef"
     style="position: relative; width: 100%; height: 100%; touch-action: none; @Style"
     class="@Class">
    <SkiaSharp.Views.Blazor.SKCanvasView
        @ref="_skCanvasView"
        OnPaintSurface="OnPaintSurfaceInternal"
        EnableRenderLoop="@EnableRenderLoop"
        IgnorePixelScaling="@IgnorePixelScaling"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
        @attributes="AdditionalAttributes" />
</div>
