@namespace SkiaSharp.Extended.UI.Blazor.Controls
@inherits ComponentBase
@implements IAsyncDisposable

<div @ref="_elementRef" style="touch-action: none; user-select: none;">
    <SkiaSharp.Views.Blazor.SKCanvasView
        @ref="_skCanvasView"
        OnPaintSurface="OnPaintSurfaceInternal"
        EnableRenderLoop="@EnableRenderLoop"
        IgnorePixelScaling="@IgnorePixelScaling"
        @attributes="AdditionalAttributes" />
</div>
