@inherits LayoutComponentBase
@using System.Reflection
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://mono.github.io/SkiaSharp.Extended/" target="_blank">Docs</a>
            <a href="https://mono.github.io/SkiaSharp.Extended/api/SkiaSharp.Extended" target="_blank">API</a>
            <a href="https://github.com/mono/SkiaSharp.Extended" target="_blank">GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="build-info">@_buildInfo</footer>
    </main>
</div>

@code {
    private string _buildInfo = typeof(App).Assembly
        .GetCustomAttributes<AssemblyMetadataAttribute>()
        .FirstOrDefault(a => a.Key == "BuildInfo")?.Value ?? "local";
}
