@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://mono.github.io/SkiaSharp.Extended/" target="_blank">Docs</a>
            <a href="https://mono.github.io/SkiaSharp.Extended/api/" target="_blank">API</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
