<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SkiaSharp Extended</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-group-header px-3">EXTENDED</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shapes">
                <span class="bi bi-pentagon-nav-menu" aria-hidden="true"></span> Shapes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interpolation">
                <span class="bi bi-bezier-nav-menu" aria-hidden="true"></span> Path Interpolation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blurhash">
                <span class="bi bi-image-nav-menu" aria-hidden="true"></span> BlurHash
            </NavLink>
        </div>

        <div class="nav-group-header px-3">CONTROLS</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pixelcomparer">
                <span class="bi bi-eye-nav-menu" aria-hidden="true"></span> Pixel Comparer
            </NavLink>
        </div>

        <div class="nav-group-header px-3">CONTROLS</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lottie">
                <span class="bi bi-play-circle-nav-menu" aria-hidden="true"></span> Lottie
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
