@using SkiaSharp
@using SkiaSharp.Extended
@using SkiaSharp.Views.Blazor
@implements IAsyncDisposable
@inject IJSRuntime JS

<div class="ip-canvas-area"
     @onmousedown="OnMouseDown"
     @onmousemove="OnMouseMove"
     @onmouseup="OnMouseUp"
     @onmouseleave="OnMouseUp"
     @ontouchstart="OnTouchStart"
     @ontouchmove="OnTouchMove"
     @ontouchend="OnTouchEnd"
     @ontouchstart:preventDefault
     @ontouchmove:preventDefault>
    <SKGLView @ref="_canvas"
              OnPaintSurface="OnPaintSurface"
              style="display:block; width:100%; height:100%;" />
</div>
